h1{
	text-align: center;
	color: #cdd6d8;
}

h2{
  text-align: center;
  color: #cdd6d8;
}

h3{
	text-align: center;
	color: #cdd6d8;
}

h4{
  text-align: center;
  color: #cdd6d8;
}

h6{
  text-align: center;
  color: #cdd6d8;
}

body {
	background-color: #119ac4;
}

li{
  color: #cdd6d8;
}

p{
  color: #cdd6d8;
}

.vertical-align {
    display: flex;
    align-items: center;
}

footer {
  position: relative;
  background-color: #05005b;
  right: 0; bottom: 0; left: 0;
}

.pre-scrollable::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0);
}

.pre-scrollable::-webkit-scrollbar
{
  width: 4px;
  background-color: rgba(0,0,0,0);
}

.pre-scrollable::-webkit-scrollbar-thumb
{
  background-color: rgba(205, 214, 216, .6);
}

#references 
{
    text-align: center;
    font-size: 10px;
}


/* help from https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slider {
  -webkit-appearance: none;
  width: 90%;
  height: 5px;
  border-radius: 5px;   
  background: #cdd6d8;
  outline: none;
  opacity: 0.6;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.global_conflicts{
  background: grey;
  border: 2px solid #000000;
  border-radius: 20px;
  padding:8px;
}

.pre-scrollable{
  border-top: 2px solid #000000;
  border-bottom:2px solid #000000;
  background:grey;
}

.slidecontainer{
  padding-top: 15px;
  padding-bottom: 15px;
}