@media only screen and (max-width: 1150px) {
  .map-responsive{
  	transform: scale(0.8, 0.8);
  }
}


@media only screen and (max-width: 920px) {
  .map-responsive{
  	transform: scale(0.5, 0.5);
  }
}


h1{
	text-align: center;
}