@media only screen and (max-width: 1150px) {
  .map-responsive{
  	transform: scale(0.8, 0.8);
  }
}

@media only screen and (max-width: 920px) {
  .map-responsive{
  	transform: scale(0.5, 0.5);
  }
}

h1{
	text-align: center;
	color: #cdd6d8;
}

h3{
	text-align: center;
	color: #cdd6d8;
}

h4{
  text-align: center;
  color: #cdd6d8;
}

body {
	background-color: #119ac4;
}

li{
  color: #cdd6d8;
}

p{
  color: #cdd6d8;
}

.vertical-align {
    display: flex;
    align-items: center;
}

footer {
  background-color: #05005b;
  position: absolute;
  right: 0; bottom: 0; left: 0;
}

.pre-scrollable::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0);
}

.pre-scrollable::-webkit-scrollbar
{
  width: 4px;
  background-color: rgba(0,0,0,0);
}

.pre-scrollable::-webkit-scrollbar-thumb
{
  background-color: rgba(205, 214, 216, .6);
}

#references 
{
    text-align: center;
    font-size: 10px;
}