@media only screen and (max-width: 1150px) {
  .map-responsive{
  	transform: scale(0.8, 0.8);
  }
}

@media only screen and (max-width: 920px) {
  .map-responsive{
  	transform: scale(0.5, 0.5);
  }
}

h1{
	text-align: center;
	color: #cdd6d8;
}

h3{
	text-align: center;
	color: #cdd6d8;
}

h4{
  text-align: center;
  color: #cdd6d8;
}

body {
	background-color: #119ac4;
}

li{
  color: #cdd6d8;
}

p{
  color: #cdd6d8;
}

.vertical-align {
    display: flex;
    align-items: center;
}